Automat
Django
Flask
Flask-JWT-Extended
Flask-SQLAlchemy
GitPython
Jinja2
Markdown
MarkupSafe
Pillow
Protego
PyAudio
PyAutoGUI
PyDispatcher
PyJWT
PyMuPDF
PyNaCl
PyPDF2
PyRect
PySocks
PyYAML
Pygments
SQLAlchemy
Scrapy
SocksiPy-branch
SpeechRecognition
Twisted
Werkzeug
absl-py
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
altair
annotated-types
ansicon
appdirs
asgiref
asttokens
astunparse
asyncio
attrs
autobahn
backoff
bcrypt
beautifulsoup4
black
blessed
blinker
blis
bootstrap4
branca
cachetools
catalogue
certifi
cffi
channels
channels_redis
chardet
charset-normalizer
click
cloudpathlib
colorama
comm
comtypes
confection
constantly
contourpy
crayons
cryptography
cssselect
cycler
cymem
daphne
dataclasses
decorator
defusedxml
django-cors-headers
django-otp
djangorestframework
djangorestframework-simplejwt
djongo
dnspython
duckduckgo_search
editor
executing
fake-useragent
ffmpeg
ffmpeg-python
filelock
flake8
flask-cors
flatbuffers
folium
fonttools
fpdf
fpdf2
frozenlist
fsspec
future
gast
generics
gitdb
google-auth
google-auth-oauthlib
google-pasta
google-search
google-search-results
googlesearch-python
googletrans
greenlet
grpcio
gunicorn
h11
h2
h5py
hpack
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
hyperlink
idna
imbalanced-learn
incremental
iniconfig
inquirer
ipython
ipywidgets
itemadapter
itemloaders
itsdangerous
jax
jaxlib
jedi
jinxed
jmespath
joblib
jsonschema
jsonschema-specifications
jupyterlab_widgets
keras
kiwisolver
langcodes
language_data
libclang
llvmlite
loguru
lxml
marisa-trie
markdown-it-py
matplotlib
matplotlib-inline
mccabe
mdurl
ml-dtypes
more-itertools
mpmath
msgpack
multidict
murmurhash
mypy-extensions
mysql-connector-python
namex
narwhals
networkx
nltk
numba
numpy
oauthlib
openai-whisper
opencage
opencv-python
opencv-python-headless
opt_einsum
optional-django
optree
outcome
packaging
pandas
paramiko
parsel
parso
pathspec
pdfminer.six
pdfplumber
phonenumbers
piexif
platformdirs
plotly
pluggy
preshed
primp
prompt_toolkit
propcache
protobuf
psutil
psycopg2
pure_eval
pyarrow
pyasn1
pyasn1_modules
pyclipper
pycodestyle
pycparser
pycryptodome
pydantic
pydantic_core
pydeck
pydub
pyflakes
pygame
pymongo
pyOpenSSL
pyparsing
pypdfium2
pyperclip
python-bidi
python-dateutil
python-docx
python-dotenv
python-googlesearch
python-magic
python-nmap
python-whois
pytesseract
pytweening
pytz
pyuseragents
queuelib
razorpay
readchar
redis
referencing
regex
requests
requests-file
requests-oauthlib
rfc3986
rich
rpds-py
rsa
runs
safetensors
scapy
scikit-learn
scipy
seaborn
selenium
service-identity
shellingham
six
sklearn-compat
smart-open
smmap
sniffio
sortedcontainers
sounddevice
soupsieve
spacy
spacy-legacy
spacy-loggers
stack-data
stegano
stem
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thinc
threadpoolctl
tiktoken
tldextract
tokenizers
toml
torch
torchaudio
tornado
torpy
tqdm
traitlets
transformers
trio
trio-websocket
twilio
txaio
typer
typing_extensions
tzdata
urllib3
uvicorn
vaderSentiment
w3lib
waitress
wasabi
watchdog
wcwidth
weasel
webdriver-manager
websocket-client
websockets
whisper
whitenoise
widgetsnbextension
wrapt
wsproto
xgboost
xmod
xyzservices
yarl
zope.interface
